


/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    
}
h3{
    font-family: inter;
    font-weight: black;
    font-size: 34px;
    
}
/* shared style */
.btn-primary{
    font-family: Raleway;
    color: white;
    font-size: 16px;
    background-color: #4E47FF;
    font-weight:bold ;
    padding: 12px 36px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-size:48px 80px;
   cursor: pointer;
    /* text-align: center; */
    
}


.purple{
    color: #4E47FF;
}

/* banner styles */
.banner-title{
    font-family: Raleway;
    font-size: 65px;
    font-style: bold;
    color: #252432;
    text-align: center;
    display: block;
    width: 905px;
  
}
.secondary{
    background: height 48px width 174px;
     text-align: center;
    gap: 16px;
    position: absolute;
    margin-top: 250px;
    margin-bottom: 10px;
}
.banner-containner{
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 158px;
    display: flex;
    flex-direction: column;
}
header{
    background-image: url(../images/Hero-bg.png);
    height: 700px;
    width: 1137px;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 150px 30px 100px 120px;
    display: block ;
    align-items: center;
    justify-content:space-between;
    gap: 158px;
    border-radius: 4px;
    margin-left:200px;
    margin-top: 0px;
}
/* Action section */
.action-head{
    font-family: Raleway;
    font-size: 42px;
    font-style: bold;
    color: #252432;
    width: 517px;
    height: 49px;
}
.action{
    width: 517px;
    height: 203px;
}
.action-para{
    font-family: Raleway;
    font-size: 24px;
    font-style:Regular;
    color: #252432;
    width:517px ;
    height:60px ;

}
.binary{
    height:48px;
    width: 229px;
    gap:10px;
    padding: 12px 36px ;
    border-radius: 10px;
    align-items: center;

}
.photo{
     border-radius: 48px;
     width: 403px;
     height: 328px;
     margin-right: 250px;
}
.action-section{
    display: flex;
    margin-left: 230px;
    justify-content: space-between;
}

/* User content style */

.user-containner {
    background-color: #d6dbff;
    border-radius: 24px;
    padding: 80px 50px;
    text-align: center;
    max-width: 1140px;
    height: 306px;
    margin-top: 0 500px auto auto;
    text-align: center;
    box-sizing: border-box;
    display:block ;
   margin-left: 230px;
   margin-top: 150px;
   justify-content: center;
   background-position: center;
}
 .user-content{
    font-family: Raleway;
    font-weight: 700;
    font-size: 38px;
    color: #252432;
    text-align: center;
    justify-content: center;
    /* margin-bottom: 40px; */
    padding-bottom: 40px;
}
 .user-info{
    height: 206px; ;
    width: 856px;
    align-items: center;
    margin-left: 50px;
    text-align: center;
    margin-bottom: 300px;
    justify-content: space-around;
    padding-bottom: 10px;
  
 }
  .users {
    
    justify-content: space-between;
    gap: 40px;
    height: 206px;
    width: 856px;
    margin-bottom: 700px;
   display: flex;
     }
  .users div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    box-sizing: border-box;
    margin-top: 0 auto ;
  }

  
.user-data{
    font-family: inter;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    width: 856px;
    height: 45px;
    margin: 0px;
    line-height: 1px;
}
.user-data-p1{
    font-family: inter;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    margin: 6px 0 0 0;
  }
  /* review-card style */
  .review{
    margin-top: 200px;
  }


 
  .review-containner{
    text-align: center;
    
  }
  .review-card-containner{
    display: flex;
    gap: 24px;
    margin-left: 250px;
    padding: 20px;
/* width: 365px; */
   }
  .review-card{
    width: 300px;
    height: 245px;
    border: 2px solid #f0eded;
    border-radius: 14px ;
    padding: 24px 24px;
  }
  .review-card img{
 width: 20px;
  }
  .review-card h4{
    font-family: raleway;
    font-weight: 600;
    }
 .review-card:hover {
background-color: #c7c5f2;
 }








   
   
    
